.playhead {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 10;
  cursor: ew-resize;
  user-select: none;
}

.head {
  position: absolute;
  top: 0;
  left: -6px;
  width: 12px;
  height: 6px;
  border-radius: 2px;
  background: var(--semi-color-primary);
}

.line {
  position: absolute;
  top: 6px;
  bottom: 0;
  left: -0.5px;
  width: 1px;
  background: var(--semi-color-primary);
}
